/*
  Author: Camiel
  Styling for the Cocktail website.
  */

  *{
    color:aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html body{
      height: 50%;
      margin: 6px;

}

h1{
  font-size: 1cm;
  margin: 3px;
  padding: 1cm;
  color:aquamarine;
}
panel{
    width: 50%;
    height: 10px;
    margin-left: 2cm;
    margin-right: 2cm;
    background-color: rgb(244, 249, 101);
}

#bg *{ 
    background-image: url("");
    background : ("");
    height: auto;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#cocktail list{
  display: block;
  margin-left: 10px;
  margin-right: auto;
  width: 100%;
  margin-bottom: 0cm ;

}

#image-container{
   display: none;


}


